#
# local_config.tup is used for site-specific tweaks to
# the build (non-standard tool/include/lib paths, etc)
#
# Tools:
#  MOC - path/name of Qt's moc tool
#  PROTOC - path/name of Protocol Buffer's protoc tool
#  JAVAC - path/name of Java compiler 'javac'
#  JAR - path/name of Java 'jar' tool (some systems have 'gjar')
#
# Includes/Libraries:
#  PKG_CONFIG_PATH - extra paths for pkg-config (colon-separated)
# note : the following variables likely don't need to be used, since
#        the paths you would put in them should get picked up by pkg-config
#  INCLUDES - include flags (passed to compiler & Qt's moc)
#  CXXFLAGS - compiler flags
#  LDFLAGS - link flags
#
